<footer class="footer-container">
  <div class="contact-container">
      <a href="https://api.whatsapp.com/send?phone=5581999999999" class="whatsapp-link" target="_blank">
          <i class="fab fa-whatsapp whatsapp-icon"></i>
          (81) 99999-9999
      </a>
      <a href="mailto:vitorlirasti@hotmail.com" class="email-link">
          <i class="far fa-envelope email-icon"></i>
          vitorlirasti@hotmail.com
      </a>
      <a href="https://github.com/seu-usuario-github" class="github-link" target="_blank">
          <i class="fab fa-github github-icon"></i>
          GitHub
      </a>
  </div>
  <div class="rights-container">
      © 2024 Seu Nome - Todos os direitos reservados
  </div>
</footer>
